* text=auto
*.jpg binary
*.png binary
/index.html linguist-generated=true
/data/guide.json linguist-generated=true

/offline.html linguist-generated=true
/web-assets/** linguist-generated=true
/web-audio/** linguist-generated=true
